<h1>{{ title }}</h1>

<main>
  <!-- ###### CHECKBOX  ###### -->
  <section>
    <h2>Regular:</h2>
    <div>
      <input type="checkbox" id="uniqueName" name="uniqueName" />
      <label for="uniqueName">Regular checkbox</label>
    </div>
  </section>

  <!-- <section>
    <h2>NgModel:</h2>
    <div>
      <app-checkbox
        [(ngModel)]="checkbox1"
        (ngModelChange)="onNgModelCheckboxChange($event)"
        label="NgModel checkbox"
      ></app-checkbox>
    </div>
  </section> -->

  <!-- <section>
    <h2>FormControlName:</h2>
    <form [formGroup]="form">
      <app-checkbox formControlName="checkbox2" label="Form Control Name checkbox"></app-checkbox>
    </form>
  </section> -->

  <!-- <section>
    <h2>Emit:</h2>
    <div>
      <app-checkbox label="Emit checkbox"></app-checkbox>
    </div>
  </section> -->

  <!-- ###### QUANTITY  ###### -->
  <!-- <section>
    <h2>Regular:</h2>
    <div>
      <app-quantity [(quantity)]="quantity0"></app-quantity>
    </div>
  </section> -->

  <!-- <section>
    <h2>NgModel:</h2>
    <div>
      <app-quantity [(ngModel)]="quantity1" (ngModelChange)="onNgModelQuantityChange($event)"></app-quantity>
    </div>
  </section> -->

  <!-- <section>
    <h2>FormControlName:</h2>
    <form [formGroup]="form">
      <app-quantity formControlName="quantity2"></app-quantity>
    </form>
  </section> -->
</main>

<ul>
  <!-- <li>Checkbox0: {{ checkbox0 }}</li> -->
  <!-- <li>Checkbox1: {{ checkbox1 }}</li> -->
  <!-- <li>Checkbox2: {{ checkbox2?.value }}</li> -->
  <!-- <li>Checkbox3: {{ checkbox3 }}</li> -->
  <!-- <li>Quantity0: {{ quantity0 }}</li> -->
  <!-- <li>Quantity1: {{ quantity1 }}</li> -->
  <!-- <li>Quantity2: {{ quantity2?.value }}</li> -->
</ul>
