<h1>{{ title }}</h1>

<main>
  <!-- ###### CHECKBOX  ###### -->
  <section>
    <h2>Regular checkbox:</h2>
    <div>
      <input
        [(ngModel)]="checkbox0"
        (ngModelChange)="onRegularCheckboxChange($event)"
        type="checkbox"
        id="uniqueName"
        name="uniqueName"
      />
      <label for="uniqueName">Regular checkbox</label>
    </div>
  </section>

  <section>
    <h2>NgModel checkbox:</h2>
    <div>
      <app-checkbox
        [(ngModel)]="checkbox1"
        (ngModelChange)="onNgModelCheckboxChange($event)"
        (change)="onChange($event)"
      >
        NgModel checkbox
      </app-checkbox>
    </div>
  </section>

  <section>
    <h2>FormControlName checkbox:</h2>
    <form [formGroup]="form">
      <app-checkbox formControlName="checkbox2">Form Control Name checkbox</app-checkbox>
    </form>
  </section>

  <section>
    <h2>Emit checkbox:</h2>
    <div>
      <app-checkbox (checkboxChange)="onEmit($event)">Emit checkbox</app-checkbox>
    </div>
  </section>

  <!-- ###### QUANTITY  ###### -->
  <section>
    <h2>Regular quantity:</h2>
    <div>
      <app-quantity [(quantity)]="quantity0" (quantityChange)="onRegularQuantityChange($event)"></app-quantity>
    </div>
  </section>

  <section>
    <h2>NgModel quantity:</h2>
    <div>
      <app-quantity
        [(ngModel)]="quantity1"
        (ngModelChange)="onNgModelQuantityChange($event)"
        (change)="onQuantityChange($event)"
      ></app-quantity>
    </div>
  </section>

  <section>
    <h2>FormControlName quantity:</h2>
    <form [formGroup]="form">
      <app-quantity formControlName="quantity2"></app-quantity>
    </form>
  </section>
</main>

<ul>
  <li>Checkbox0: {{ checkbox0 }}</li>
  <li>Checkbox1: {{ checkbox1 }}</li>
  <li>Checkbox2: {{ checkbox2?.value }}</li>
  <li>Checkbox3: {{ checkbox3 }}</li>
  <li>Quantity0: {{ quantity0 }}</li>
  <li>Quantity1: {{ quantity1 }}</li>
  <li>Quantity2: {{ quantity2?.value }}</li>
</ul>
